[submodule "graph_kmer_index"]
	path = graph_kmer_index
	url = ../../samuelklee/graph_kmer_index.git
[submodule "kage"]
	path = kage
	url = ../../samuelklee/kage.git
[submodule "kmer_mapper"]
	path = kmer_mapper
	url = ../../samuelklee/kmer_mapper.git
[submodule "obgraph"]
	path = obgraph
	url = ../../samuelklee/obgraph.git
[submodule "shared_memory_wrapper"]
	path = shared_memory_wrapper
	url = ../../samuelklee/shared_memory_wrapper.git
